# 1. Ignore ALL files and folders
**/*

# 2. But, DO NOT ignore the file you want
!/AudioClassification.ipynb
!/main.py
!/gui.py
!/Models/**
# 3. (Optional but recommended) DO NOT ignore this .gitignore file itself
!/.gitignore